.header{

height:65px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 20px;

background:#ffffff;

box-shadow:0 2px 8px rgba(0,0,0,.08);

position:sticky;

top:0;

}

.logo{

font-size:24px;

font-weight:bold;

color:#0B66FF;

}

.balance{

background:#E8F3FF;

padding:8px 14px;

border-radius:30px;

font-weight:600;

}

.banner{

margin:20px;

height:180px;

border-radius:20px;

background:#EEF5FF;

}

.section{

padding:20px;

}

.card{

background:#fff;

border-radius:20px;

padding:18px;

margin-bottom:18px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.join{

width:100%;

padding:14px;

border:none;

background:#0B66FF;

color:white;

border-radius:14px;

font-size:16px;

font-weight:600;

}
